# Python-related ignores
__pycache__/
*.py[cod]
.env
.venv/
.DS_Store

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/

# ChromaDB
.chroma/

# Chat history
chat_history.json

# all notebooks
notebooks/

# all pdfs
pdfs/